.logo{
    position: fixed;
    width: 100px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}

.menuButton{
    background: black;
    border: none;
    cursor: pointer;
    position:   fixed;
    padding:    5px;
    top: 130px;
    left: 55px;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}

.menuContainer {
    position: relative; 
    display: inline-block;
}


.dropdown {
  position: fixed;
  top: 115px; /* Tente ajustar este valor */
  left: 100px; /* Garante um espaço de 10px à direita do botão */
  /* background-color: white; */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 20;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  padding-left: 0;
  margin-left: 0;
}

.dropdown li {
  list-style: none;
}

.dropdown li a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: white; /* Texto branco */
  border:   none;
}

.dropdown li a:hover {
  background-color: #333;
}
